.contenedor{
    display: flex;
    justify-content: center; 
    
  }

.img{
    width: 110px;
    margin-right: 15px;
}

.encabezado-articulo{
    padding: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    background-color: rgb(0, 87, 9);
    color: rgb(255,255,255);
   /* margin: 1em 1em;
    border-radius: 0px;*/
    
}

.texto2{
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(0, 87, 9);
    
    color: rgb(0, 87, 9);
}

.opc{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(0, 87, 9);

}

.opciones{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(0, 87, 9);
    
}

.pie{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(177, 0, 0);
    color: rgb(255, 255, 255);
}
  
.texto{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    
}

.contenido-borde {
    border: 2px solid rgb(0, 87, 9);
    padding: 15px;

  }

#contenedor{
    width: 1000px;
    height: 1160px;
    background-color: #ffffff;
}

li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}